
.searchbar {
    background-color: var(--search);
    width: 46.063rem;
    height: 4rem;
    margin-top: 3.219rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 1.5rem;
    border: 2px solid transparent;
     
  }

  .searchbar:focus-within{
    border: 2px solid var(--highligth);
    cursor: pointer;
  }
  
  
  .searchbar input {
    width: 70%;
    height: 4rem;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 1rem;
    font-size: 1.25rem;
    font-weight: bold; 
    color: var(--contentText);

    
  }
  .searchbar input::placeholder{
    font-size: 1.25rem;
    font-weight: bold;
    color:var(--placeholderText);
  }
  .searchbar p{
    font-size: 1.25rem;
    font-weight: bold;
  }

  .searchbar.error {
    border-color: var(--error);
  }
  
  .error-message {
    color:var(--error);
    font-size: 1rem;
    margin-top: 0.5rem;
  }
 

  @media screen and (max-width: 480px){
    .searchbar{
      width: 23.25rem;
      
    }
    
  }