/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --ligthMode:#FFFFFF;
    --search:#F4F4F4;
    --contentText:#2D2D2D;
    --headerText:#757575;
    --highligth: #A445ED;
    --notfound:#757575;
    --divider: #E9E9E9;
    --font-primary: "Inter", sans-serif;
    --font-secondary: "Lora", serif;
    --font-tertiary:"Inconsolata", monospace;
        
}

/* darkTheme */
.darkTheme{
    background-color:#050505;
    --search:#CDCDCD;
    --contentText:#FFFFFF;
    --search:#1F1F1F;
    --divider:#3A3A3A;
    --notfound:#757575;
    
}

html,body{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
   font-family: var(--font-primary), var(--font-secondary), var(--font-tertiary);
   /* font-family: var(--font-primary); */
   
}
