.content{
  width: 46.063rem;
  margin-top:2.813rem ;
}
.notfound-error{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
  
}

.notfound-error span{
  font-size: 2rem;
  margin-top: 1rem;
}
 .notfound-error h6{
  font-size: 1.25rem;
  color: var(--contentText)
}
.notfound-error p{
  font-size: 1.125rem;
  color: var(--notfound);
  text-align: center;
}


#searched-word{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.813rem;
  }

  #searched-word:hover  g circle {
    cursor: pointer;
    fill: #8F19E8;
    opacity: 1;
    transition: 0.1s ease-in;
  }
  #searched-word:hover g path  {
    cursor: pointer;
    fill: #FFFFFF;
    transition: 0.2s ease-in;
  }
  #searched-word h5{
    font-size: 4rem;
    font-weight: bold;
    color: var(--contentText);
  }

   #searched-word p{
    color: var(--highligth);
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  #word-description{
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
    gap: 1rem;
  }

  #word-description p{
    font-size: 1.5rem;
    color: var(--contentText);
    font-weight: bold;
    font-style: italic;
  }
  #word-description span{
    width: 100%;
    height:0.063rem ;
    background-color: var(--divider);
  }

  .word-definition{
    margin-top: 2.5rem;
  }
  .word-definition p{
    font-size: 1.25rem;
    color: var(--headerText);  
  }
  .word-definition ul {
    list-style-type: none;
    padding-left: 1rem;
  
  }
  
  .word-definition ul li {
    position: relative;
    padding-left: 1.5em;
    margin-top: 1rem;
  }
  
  .word-definition ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.5em;
    width: 0.5em;
    height: 0.5em;
    background-color: var(--highligth);
    border-radius: 50%;
  }
  #synonyms{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.375rem;
  }
  #synonyms p{
    font-size: 1.25rem;
    color: var(--headerText);
  }
  #synonyms h6{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-size: 1.25rem;
    color: var(--highligth);
  }
  #synonyms h6:hover{
    cursor: pointer;
    text-decoration: underline;
  }

  .verb-description{
    margin-top: 2.5rem;
    height: 11.188rem;
    
  }
  .source{
    margin-top: 2.5rem;
    height: 37px;
    
  }

  .source span{
    width: 100%;
    height:0.063rem ;
    display: inline-block;
    background-color: var(--divider);
  }

  #words{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
    margin-top: 0.5rem;
  }
  #words p{
    color: var(--headerText);
    font-size:0.875rem ;
  }

  #words h6{
    color: var(--contentText);
    font-size:0.875rem ;
  }
  .new-window{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.463rem;
  }


  @media screen and (max-width: 480px){
    .content{
      width: 372px;
    }
    #searched-word h5{
      font-size: 32px;
    }
    #searched-word p{
     
      font-size: 18px;
    }

    #searched-word svg{
      width: 48px;
      height: 48px;
    }
    .word-definition ul{
      margin-left: 0;
    }
    #words{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

  }